<html>
    <head>
        <title>Midtown Public Library | Edit Book</title>
    </head>
    <body>
        <h1>Midtown Public Library | Edit Book</h1>

        <h2>{{ book.getTitle }}</h2>
        <!-- {*% if all_books is not empty %}
            {*% for book in all_books %}
                <p>{*{ book.getTitle }}</p>
            {*% endfor %}
        {*% endif %} -->

        <h2>Edit Book</h2>
        <form action="/edit_book/{{ book.getId }}" name="edit_book" method="post">
            <input name="_method" type="hidden" value="patch">

            <label for="title">New Title: </label>
            <input type="title" name="title" type="text" required>

            <button type="submit" name="button">Update Book</button>
        </form>

        <h2>Assign An Author To A Book</h2> <!-- needs to be dropdown menu -->
        <form action="/assign_author" name="assign_author" method="post">
            <label for="author_name">Add An Author: </label>
            <!-- <input type="author_name" name="author_name" type="text" required> -->
            <select name="all_authors">
                {% for author in all_authors %}
                    <option value="{{ get.authorId }}">{{ get.authorName }}</option>
                {% endfor %}
            </select>

            <button type="submit" name="button">Add Author</button>
        </form>

        <form action="/delete_book/{{ book.getId }}" method="post">
            <input name="_method" type="hidden" value="delete">

            <button type="submit">Delete Book</button>
        </form>
    <p><a href="/">Home</a></p>
    </body>
</html>
